<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RestUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RestUI.Properties.Settings>
            <setting name="SshHost" serializeAs="String">
                <value />
            </setting>
            <setting name="SshPort" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="SshUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SshPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableSshTunnel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeColor" serializeAs="String">
                <value>27, 161, 226</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>light</value>
            </setting>
        </RestUI.Properties.Settings>
    </userSettings>
</configuration>